@tailwind base;
@tailwind components;
@tailwind utilities;
       
/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #d66008fe;
  --text: #111827;
  --subtext: #4b5563;
  --background: #f9fafb;
  --card-bg: #ffffff;
  --border: #e5e7eb;
  --radius: 12px;
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}


body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #f6f9fc, #e9eff5);
  background-size: 200% 200%;
  animation: fadeBackground 10s ease infinite;
  color: #1e1e2f;
overflow-x: hidden;
}

html{
  overflow-x: hidden;
}
